<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>华软毕业设计管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">

    <style>
        body{
            padding:0;
             background-image: url("/avator/1.jpg");
            background-size: 100%,100%;
            background-attachment:fixed;
            background-repeat: no-repeat;
            margin:0
        }
        #div1{
         text-align:center;
         padding-bottom:5px;
         border:1px   #000000;
         background-color:#EFEFDA;
         }
         .textcolor{
              color: #B45B3E;
              font-size: 35px;
         }
    </style>
</head>

<body>
<div id="view">
    <% include managerheader.ejs %>
     <div style="padding: 100px 100px 10px;">
     <div id="div1"><center><span class="textcolor"><b>修改密码</b></span></center></div>
    <form class="bs-example bs-example-form" role="form">
        <div class="input-group">
            <span class="input-group-addon">用户名</span>
            <input type="text" class="form-control" placeholder="请输入用户名" v-model="username">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">密码　</span>
            <input type="PassWord" class="form-control" placeholder="请输入密码" v-model="PassWord">
        </div>
          <br>
        <div class="input-group">
            <span class="input-group-addon">新密码</span>
            <input type="PassWord" class="form-control" placeholder="请输入新密码" v-model="NewPassWord1">
        </div>
          <br>
        <div class="input-group">
            <span class="input-group-addon">确认新密码</span>
            <input type="PassWord" class="form-control" placeholder="请确认新密码" v-model="NewPassWord2">
        </div>
    </form>
    <br>
     <button type="button" id="xiugai" class="btn btn-success" v-on:click="ChancePassword">点击修改密码</button>
</div>
</div>
<script>
    var vm = new Vue({
        el: "#view",
        data: {
            username:"",
            PassWord:"",
            NewPassWord1:"",
            NewPassWord2:""
        },
        mounted: function () {
        },
        methods: {
         ChancePassword:function(){
              var that = this;

             if(that.username==""||that.PassWord==""||that.NewPassWord1==""||that.NewPassWord2==""){
                 alert('请将信息输入完整进行修改密码！');
                 return;
             }
                else{
                    axios.post(`/toMannagerChancePassword`,{
                    'username':this.username,
                    'PassWord':this.PassWord,
                    'NewPassWord1':this.NewPassWord1,
                    'NewPassWord2':this.NewPassWord2
                })
                    .then(function (res) {
                         if(res.data == -1){
                             alert('您输入的密码有误,请重新输入！');
                             that.PassWord="";
                             that.NewPassWord1="";
                             that.NewPassWord2="";
                             return;
                         }
                         if(res.data == -2){
                             alert('您两次输入的新密码不同,请重新输入！');
                             that.NewPassWord1="";
                             that.NewPassWord2="";
                             return;
                         }
                         if(res.data == 1){
                            alert('修改密码成功,请重新登录！');
                          window.location = '/';
                          return;
                         }
                         if(res.data == -4){
                             alert('用户名输入有误，请重新输入！');
                             that.username="";
                             that.PassWord="";
                             that.NewPassWord1="";
                             that.NewPassWord2="";
                             return;
                         }

                    })
                    .catch(function (err) {
                        console.log(err);
                    });
                }
           },

        },

    })


</script>
</body>
</html>