<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>华软毕业设计管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
<style type="text/css">  
        body{
            padding:0;
             background-image: url("/avator/1.jpg");
            background-size: 100%,100%;
            background-attachment:fixed;
            background-repeat: no-repeat;
            margin:0
        }
               caption{
         text-align:center;
         padding-bottom:1px;
         border:1px   #000000;
         background-color:#EFEFDA;
         }
         .textcolor{
              color: #B45B3E;
              font-size: 35px;
         }
         #xt{
             color:red;
         }
</style>  
</head>  
<body>  
<% include managerheader.ejs %>
<div id="views">
    <div class="container">
 <table class="table table-bordered">
<caption><span class="textcolor"><b>分配老师学生</b></span></caption>
  <thead>
    <tr>
      <th>序号</th>
      <th>学生姓名</th>
      <th>课程名称</th>
      <th>课程类型</th>
      <th>确认时间</th>
      <th>状态</th>
      <th>第一志愿</th>
      <th>点击确认</th>
      <th>第二志愿</th>
      <th>点击确认</th>
      <th>第三志愿</th>
      <th>点击确认</th>
      </tr>
  </thead>
  <tbody>
    <tr class="success"  v-for="(value,index) in result">
      <td>{{index+1}}</td>
      <td>{{value.StudentName}}</td>
      <td>{{value.ClassName}}</td>
      <td>{{value.ClassType}}</td>
      <td>{{value.time1}}</td>
      <td>{{value.status}}</td>
      <td>{{value.第一志愿}}</td>
      <td><button type="button" id="queren" class="btn btn-success" v-on:click="queren1(index)">点击确认</button></td>
      <td>{{value.第二志愿}}</td>
      <td><button type="button" id="queren" class="btn btn-success" v-on:click="queren2(index)">点击确认</button></td>
      <td>{{value.第三志愿}}</td>
      <td><button type="button" id="queren" class="btn btn-success" v-on:click="queren3(index)">点击确认</button></td>
      </tr>
  </tbody>
</table> 
</div>
</div>
<script>
    var vm = new Vue({
        el: "#views",
        data: {
          result:[],
          StudentName:"",
          TeacherName:"",
          ClassName:"",
          ClassType:"",
          Volunteer1:"",
          Volunteer2:"",
          Volunteer3:"",
        },
        mounted: function () {
            this.getStudentSelect();
        },
        methods: {
          getStudentSelect:function(){
              var that = this;
                axios.get('/getAllStudentSelect')
                    .then(function (res) {
                           that.result = res.data.result;    

                    })
                    .catch(function (err) {
                        console.log(err);
                    });
               },
                queren1:function (index){
                   var that = this;
                   that.StudentName = that.result[index].StudentName;
                   that.TeacherName = that.result[index].TeacherName;
                   that.ClassName = that.result[index].ClassName;
                   that.ClassType = that.result[index].ClassType;
                   that.Volunteer1 = that.result[index].第一志愿;
                axios.post('/getLastStudentSelect1',{
                    'StudentName':this.StudentName,
                    'TeacherName':this.TeacherName,
                    'ClassName':this.ClassName,
                    'ClassType':this.ClassType,
                    'Volunteer1':this.Volunteer1
                })
                   .then(function (res) {
                       
                       if(res.data.result.length>2){
                              alert(res.data.result[0].Volunteer+"已带学生"+res.data.result.length+"个");
                       }

                               alert('分配第一志愿成功！');
                               window.location = '/tomanagerassigned';
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
                },
                  queren2:function (index){
                                var that = this;
                   that.StudentName = that.result[index].StudentName;
                   that.TeacherName = that.result[index].TeacherName;
                   that.ClassName = that.result[index].ClassName;
                   that.ClassType = that.result[index].ClassType;
                   that.Volunteer2 = that.result[index].第二志愿;
                axios.post('/getLastStudentSelect2',{
                    'StudentName':this.StudentName,
                    'TeacherName':this.TeacherName,
                    'ClassName':this.ClassName,
                    'ClassType':this.ClassType,
                    'Volunteer2':this.Volunteer2
                })
                   .then(function (res) {
                         
                               if(res.data.result.length>2){
                              alert(res.data.result[0].Volunteer+"已带学生"+res.data.result.length+"个");
                       }
                              alert('分配第二志愿成功！');
                               window.location = '/tomanagerassigned';
                          

                    })
                    .catch(function (err) {
                        console.log(err);
                    });
                },
                  queren3:function (index){
                          var that = this;
                   that.StudentName = that.result[index].StudentName;
                   that.TeacherName = that.result[index].TeacherName;
                   that.ClassName = that.result[index].ClassName;
                   that.ClassType = that.result[index].ClassType;
                   that.Volunteer3 = that.result[index].第三志愿;
                axios.post('/getLastStudentSelect3',{
                    'StudentName':this.StudentName,
                    'TeacherName':this.TeacherName,
                    'ClassName':this.ClassName,
                    'ClassType':this.ClassType,
                    'Volunteer3':this.Volunteer3
                })
                   .then(function (res) {
                        
                         if(res.data.result.length>2){
                              alert(res.data.result[0].Volunteer+"已带学生"+res.data.result.length+"个");
                       }
                              alert('分配第三志愿成功！');
                               window.location = '/tomanagerassigned';
                          

                    })
                    .catch(function (err) {
                        console.log(err);
                    });
                },
        },
    })

</script>
</body>
</html>