<div>
           <div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a href="##" class="navbar-brand">华软毕业设计管理系统</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/tomanagersystemnotice">系统公告</a></li>
    <li><a href="/tomanagerpending">审核申报题目</a></li>
    <li><a href="/tomanagerassigned">分配老师学生</a></li>
    <li><a href="/tomanagerLast">分配情况</a></li>
    <li><a href="/tomanagerteacher">老师信息</a></li>
    <li><a href="/tomanagerstudent">学生信息</a></li>
     <li><a href="/tomanagerInbox">收件箱</a></li>
    <li><a href="/tomanagerchancepassword">修改密码</a></li>
  </ul>
   <ul class="nav navbar-nav navbar-right">
              <li><a>欢迎<%=username%></a></li>
            <li><a href="/">注销</a></li>   
             <li><a></a></li>
        </ul>
           </div>

</div>