<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>华软毕业设计管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
<style type="text/css">  
        body{
            padding:0;
             background-image: url("/avator/1.jpg");
            background-size: 100%,100%;
            background-attachment:fixed;
            background-repeat: no-repeat;
            margin:0
        }
</style>  
</head>  
<body>  
<div id="views">
<% include managerheader.ejs %>
 <div>
     <div class="container">
    <table class="table table-bordered">  
        <thead>  
            <tr><th>序号</th><th>老师姓名</th><th>课题名称</th><th>课程类型</th><th>人数上限</th><th>状态</th><th>申请时间</th><th>点击审核通过</th><th>点击审核不通过</th></tr>  
        </thead>  
        <tbody>  
            <tr class="warning" v-for="(value,index) in result">
                <td>{{index+1}}</td>
            <td>{{value.TeacherName}}</td>
            <td>{{value.ClassName}}</td>
            <td>{{value.ClassType}}</td>
            <td>10</td>
            <td>{{value.status}}</td>
            <td>{{value.time}}</td>
             <td><button type="button" id="tongguo" class="btn btn-success" v-on:click="tongguo(index)">点击审核通过</button></td>
              <td><button type="button" id="butongguo" class="btn btn-success" v-on:click="butongguo(index)">点击审核不通过</button></td>
            </tr>  
        </tbody>  
    </table>  
    </div>
    </div>
    </div>
    <script>
    var vm = new Vue({
        el: "#views",
        data: {
          result:[],
         
        },
        mounted: function () {
             this.getTeacherSelect();
        },
        methods: {
           getTeacherSelect:function(status){
              var that = this;
                axios.get(`/managerTeacherSelect?status=${status}`)
                    .then(function (res) {
                           that.result = res.data.result;
                          

                    })
                    .catch(function (err) {
                        console.log(err);
                    });
           },
tongguo:function(index){
              var that = this;
                  var time = that.result[index].time;
                axios.get(`/managerupdateTeacherSelect?time=${time}`).
                then(function(res){
                     alert('审核通过!');
                     window.location = '/tomanagerpending';
                })
                .catch(function (err) {
                        console.log(err);
                    });
           },
           
butongguo:function(index){
              var that = this;
                  var time = that.result[index].time;
                axios.get(`/managerupdateTeacherSelect1?time=${time}`).
                then(function(res){
                     alert('审核不通过!');
                     window.location = '/tomanagerpending';
                })
                .catch(function (err) {
                        console.log(err);
                    });
           },


        }
    })


</script>

</body>
</html>