<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>华软毕业设计管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
       <style>
        body{
            padding:0;
            background-image: url("/avator/1.jpg");
            background-size: 100%,100%;
            background-attachment:fixed;
            background-repeat: no-repeat;
            margin:0
        }
    
    </style>
</head>
<body>
    <% include studentheader.ejs %>
    <br><br><br><br><br>
    <div id="views">
<table  border=5  bordercolor=green align=center>
<tr height=70 bgcolor=white align='center'>
<td width=720 colspan=6 align=center
><font size=5 ><b>填写个人信息</b></font></td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5>学号：</td>
<td id="1" width=150 align=center
><font size=5><input type="text" class="form-control" placeholder="请输入学号" v-model="Number"></td>
<td width=110 align=center
><font size=5>姓名：</td>
<td width=150 align=center
><font size=5><input type="text" class="form-control" placeholder="请输入姓名" v-model="Name"></td>
<td width=200 colspan=2 rowspan=4><img src="/avator/<%= avator %>" width=249 height=253></td>
 </tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5 align=center
>学校：</td>
<td width=150 align=center
><font size=4><input type="text" class="form-control" placeholder="请输入学校" v-model="School"></td>
<td width=110 align=center
><font size=5>系别：</td>
<td width=150 align=center
><font size=5><input type="text" class="form-control" placeholder="请输入系别" v-model="Level"></td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5>专业：</td>
<td width=150 align=center
><font size=5><input type="text" class="form-control" placeholder="请输入专业" v-model="Major"></td>
<td width=110 align=center
><font size=5>班级：</td>
<td width=150 align=center
><font size=4><input type="text" class="form-control" placeholder="请输入班级" v-model="Class"></td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5>年级：</td>
<td width=150 align=center
><font size=4><input type="text" class="form-control" placeholder="请输入（如：14级）" v-model="Diplomas"></td>
<td width=110 align=center
><font size=4>联系电话：</td>
<td width=150 align=center
><font size=3><input type="text" class="form-control" placeholder="请输入联系电话" v-model="Phonenumber"></td>
</tr>
<tr height=50 bgcolor=white>
<td width=100 align=center
></td>
<td width=620 colspan=5 align=center
></td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
></td>
<td width=610 colspan=5 align=center
><button type="button" id="confirm" class="btn btn-success" v-on:click="totijiao()">点击提交</button></td>
</tr>
</table>
    </div>
    <script>
    var vm = new Vue({
        el: "#views",
        data: {
          Number:"",
          Name:"",
          School:"",
          Level:"",
          Major:"",
          Class:"",
          Diplomas:"",
          Phonenumber:"",
           status:""
        },
        mounted: function () {
   
        },
        methods: {
                  totijiao:function(){
              var that = this;
                axios.post(`/tijiao`,{
                 'Number':this.Number,
                 'Name':this.Name,
                 'School':this.School,
                 'Level':this.Level,
                 'Major':this.Major,
                 'Class':this.Class,
                 'Diplomas':this.Diplomas,
                 'Phonenumber':this.Phonenumber,
                })
                    .then(function (res) {
                        if(res.data == 1){
                       alert('提交成功！');
                        }
                        window.location = '/tostudent';
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
           },
}

    })


</script>
</body>
</html>