<div>
           <div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a href="##" class="navbar-brand">华软毕业设计管理系统</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="tostudent">学生首页</a></li>
    <li><a href="/tostudentsystemnotice">系统公告</a></li>
    <li><a href="/tostudentdata">设置个人信息</a></li>
    <li><a href="/tostudentSelect">选择毕设题目</a></li>
    <li><a href="/tostudentupload">作品上交</a></li>
    <li><a href="/toliuyan">留言区</a></li>
    <li><a href="/tosendemail">发送邮件</a></li>
    <li><a href="/tostudentchancepassword">修改密码</a></li>
  </ul>
   <ul class="nav navbar-nav navbar-right">
            <li><a>欢迎<%=username%></a></li>
            <li><a href="/">注销</a></li>
            <li><a></a></li>
        </ul>
           </div>

</div>