<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>华软毕业设计管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">

    <style>
        body{
            padding:0;
             background-image: url("/avator/1.jpg");
            background-size: 100%,100%;
            background-attachment:fixed;
            background-repeat: no-repeat;
            margin:0
        }
          caption{
         text-align:center;
         padding-bottom:1px;
         border:1px   #000000;
         background-color:#EFEFDA;
         }
         .textcolor{
              color: #B45B3E;
              font-size: 30px;
         }      
          #cover{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index:500;
        }
  </style>
</head>

<body>
      <% include teacherheader.ejs %>
<div id="view">
    <div class="container">
    <table class="table table-bordered">
    <caption><span class="textcolor"><b>最终分配情况</b></span></caption>
  <thead>
    <tr>
      <th>学生姓名</th>
      <th>课程名称</th>
      <th>课程类型</th>
      <th>确认时间</th>
      </tr>
  </thead>
  <tbody>
    <tr class="success"  v-for="(value,index) in result">
      <td><a @click="ThisStudent(index)" href="javascript:;">{{value.StudentName}}</a></td>
      <td>{{value.ClassName}}</td>
      <td>{{value.ClassType}}</td>
      <td>{{value.time}}</td>
      </tr>
  </tbody>
</table> 
    </div>
    <div id="cover" v-show='flag'>
        <br><br><br><br><br><br><br><br>
             <table  border=5  bordercolor=#FF8C00	 align=center class="danger"  v-for="(value,index) in result1">
<tr height=70 bgcolor=white align='center'>
<td width=720 colspan=6 align=center
><font size=5 color=red><b>个人信息</b></font></td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5>学号：</td>
<td id="1" width=150 align=center
><font size=5>{{value.getNumber}}</td>
<td width=110 align=center
><font size=5>姓名：</td>
<td width=150 align=center
><font size=5>{{value.getName}}</td>
<td width=200 colspan=2 rowspan=4><img v-bind:src="imgUrl" width=249 height=253></td>
 </tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5 align=center
>学校：</td>
<td width=150 align=center
><font size=4>{{value.getSchool}}</td>
<td width=110 align=center
><font size=5>系别：</td>
<td width=150 align=center
><font size=5>{{value.getLevel}}</td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5>专业：</td>
<td width=150 align=center
><font size=5>{{value.getMajor}}</td>
<td width=110 align=center
><font size=5>班级：</td>
<td width=150 align=center
><font size=4>{{value.getClass}}</td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
><font size=5>年级：</td>
<td width=150 align=center
><font size=4>{{value.getDiplomas}}</td>
<td width=110 align=center
><font size=4>联系电话：</td>
<td width=150 align=center
><font size=3>{{value.getPhonenumber}}</td>
</tr>
<tr height=50 bgcolor=white>
<td width=100 align=center
></td>
<td width=620 colspan=5 align=center
></td>
</tr>
<tr height=50 bgcolor=white>
<td width=110 align=center
></td>
<td width=610 colspan=5 align=center
><button type="button" id="confirm" class="btn btn-success" v-on:click="colse()">点击关闭</button></td>
</tr>
</table>
     </div>
    
</div>
<script>
    var vm = new Vue({
        el: "#view",
        data: {
             result:[],
             result1:[],
             imgUrl:"/avator/moren.jpg",
             flag:false
        },
        mounted: function () {
             this.Last();
        },
        methods: {
            colse:function (){
                var that = this;
                if(that.flag == true){
                    that.flag = false;
                }
            },
            ThisStudent:function(index){
                  var that = this;
                  if(that.flag == false){
                      that.flag = true;
                              }
                  var student = that.result[index].StudentName;
                axios.get(`/ThisStudent?StudentName=${student}`)
                    .then(function (res) {
                         that.result1 = res.data.result;
                            
                        //查找学生头像
                axios.get(`/ThisStudentavator?StudentName=${student}`)
                    .then(function (res) {
        
                     that.imgUrl = "/avator/"+ res.data.result2[0].avator;              
                        
                    })
                    .catch(function (err) {
                        console.log(err);
                    });


                    })
                    .catch(function (err) {
                        console.log(err);
                    });

                  },
             Last:function (){
               var that = this;
                axios.get(`/teacherLast`)
                    .then(function (res) {
                       
                                that.result = res.data.result;

                    })
                    .catch(function (err) {
                        console.log(err);
                    });
           } 
        }

    })


</script>
</body>
</html>